@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.about {
    background-color: #f2f3f5;
    font-family: 'Poppins', sans-serif;
}

.about > h1 {
    margin-top: 5px;
}

.about__firstpara {
    margin-top: 10px;
}

.about__secondpara {
    margin-top: 10px;
}

.about__thirdpara {
    margin-top: 10px;
}

.about__fourthpara {
    margin-top: 10px;

}

.about__fifthpara {
    margin-top: 10px;

}

.about__conclusionpara {
    margin-top: 10px;
}