@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.bodyfile {
    background-color: #f2f3f5;
    margin-top: 5px;
}

.bodyfile:hover {
    background-color: #4f527e;
    transition-duration: 0.3s;
    color: white; 

}

.randdescriptioner {
    font-family: 'Andika New Basic', sans-serif;

}