@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.connect {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.connect__firsttitle > h2 {
    margin-left: 5px;
}

.connectyfreshmanyearimg {
    height: 206px;
    margin-left: 255px;
}

