@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.headerfile {
    background-color: #000000;
    color: white;
    font-family: 'Andika New Basic', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.headerfile__title:hover {
    color: #5DFD5E;
    transition-duration: 0.3s;
   
}

.class-github-button {
    cursor: pointer;
    color: white;
    background-color:#000000;
    font-size: 20px;
}

.class-github-button:hover {
    color: #5DFD5E;
    transition-duration: 0.5s;
}

.linkedin-button {
    cursor: pointer;
    color: white;
    background-color: #000000;
    font-size: 20px;

}

.linkedin-button:hover {
    color: #5DFD5E;

    transition-duration: 0.5s;

}


