@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.randomfacts {
    margin-top: 5px;
    background-color: #f2f3f5;
    font-family: 'Andika New Basic', sans-serif;
}

.istartvalleyone {
    margin-top: 5px;
    background-color: #02203c;
    color: white;
}

.istartvalleyone:hover {
    background-color: #f2f3f5;
    color: black;
    transition-duration: 0.5s;
}

.trumpfone {
    margin-top: 5px;
    background-color: #02203c;
    color: white;

}

.trumpfone:hover {
    background-color: #f2f3f5;
    color: black;
    transition-duration: 0.5s;

}