@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.technical {
    background-color: #4f527e;
    color: white;
    margin-top: 5px;
    font-family: 'Andika New Basic', sans-serif;

}

.technical:hover {
    background-color: #f27b48;
    transition-duration: 0.3s;
} 