@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.technical {
    background-color: #02203c;
    color: #00F97C;
    margin-top: 5px;
    font-family: 'Andika New Basic', sans-serif;

}
