@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

.welcomefile {
    margin-top: 5px;
    background-color: black;
    color: white;
    font-family: 'Andika New Basic', sans-serif;

}

.merandompic {
    margin-top: 5px;
    border-radius: 50%;
}