@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.workexperience {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    background-color: #f2f3f5;

}

.workexperience__container {
    padding: 100px; 
    text-align: center;
    background-color: #02203c;
    color: #00F97C;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.workexperience__container:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}